<nav class="bg-bg border -b border-primary text-text md:flex p-2  ">
    <div class="px-4 py-1 font-bold text-lg text-primary">
        <span>Ruptline</span>
    </div>
    <div class="hidden md:flex ml-auto  gap-4 ">
        <button class="nav-tab" >Home</button>
        <button class="nav-tab" (click)="navigteMe(1)">About</button>
        <button class="nav-tab" (click)="navigteMe(2)">Projects</button>
        <button class="nav-tab" (click)="navigteMe(3)">Message Me</button>
    </div>
</nav>