<div class="w-full h-screen flex items-center justify-center bg-bg text-text">
    <div class="p-6 border border-primary rounded-md w-[600px] shadow-lg">
      <p class="text-primary text-lg">~ Ruptline Launch Menu</p>
      <p class="mt-2">Midhun Binoy - MEAN Stack Developer</p>
      <p class="mt-1 text-secondary">Passionate about Nodejs, Angular, TypeScript & Linux</p>
  
      <div class="mt-4">
        <p class="text-accent">Choose an option:</p>
        <ul class="mt-2">
          <li class="hover:text-primary cursor-pointer"(click)="navigteMe(1)" value="0" >1. About me</li>
          <li class="hover:text-primary cursor-pointer"(click)="navigteMe(2)" value="1">2. Projects</li>
          <li class="hover:text-primary cursor-pointer"(click)="navigteMe(3)" value="3">3. Message Me</li>
        </ul>
      </div>
    </div>
  </div>
  